@import "../../../styles/variables.scss";

.tools-bar {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  padding: 15px 0px;

  .icones{
    margin-left: 40px;

    i {
      color: $white;
      margin-right: 25px;

      &:hover{
        color: $gray;
        cursor: pointer;
      }
    }
  }
}
